/build
/faif
/dist
/bin

/discretizer
/mlr
/dna
/dtc
/dtcdb
/ea
/hillclimb
/knn
/nbc
/nbcdb
/random
/search
/dev/MlrTest
/dev/mlr
/dev/*.o
/dev/serial
/install/*
!/install/DoxyFile
!/install/Sconscript
/test*
!/tests

*.obj
*.pyc
*.dblite
*.swp
.srclist
.syntastic
.syntastic_cpp_config
tags
